<?xml version="1.0"?>
<!--
    - Base      : kobumobile_robotki
    - 3d Sensor : r200
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_common_library.urdf.xacro" />
  <xacro:include filename="$(find mobile_robot_description)/urdf/mobile_robot.xacro" />
  <xacro:include filename="$(find mobile_robot_description)/urdf/r200.urdf.xacro"/>
  
  <xacro:mobile_robot/>
  <xacro:sensor_r200    parent="base_link"/>
</robot>
